.DS_Store
*.pyc
.ipynb_checkpoints

*.jpg
*.mp4
*.avi

data/
candidates/
samples/

*node_modules/
*build
*npm-debug.log
.env
.DS_Store
*package-lock.json
*.cache/
*dist/
*yarn.lock

*.npy
*saved_models/
*saved_npy/
